{% extends "base.html" %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="">
      {{formset.as_p}}
    </div>

    <input type="hidden" value="false" name="additems" id="additems">
    <button class="btn btn-primary" id="additemsbutton">Add more</button>

    <input type="submit" value="Predict" class="btn btn-primary">

</form>
<h3>You inputted {{symptoms}}</h3>

<script>
$(document).ready(function() {
        $("#additemsbutton").on('click',function(event) {
         $("#additems").val("true");
       });
});
</script>


{% endblock %}
